
/* Saira Condensed    font-family: "Saira Condensed", sans-serif;*/ 
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Condensed", sans-serif;
}

body::-webkit-scrollbar {
    display: none;}

body{
    height:100%;
    width: 80%;
}

.container{
    /* position: absolute\; */
    width: 100%;
    height: 100vh;
   
}

nav {
    position: absolute;
    left: 1080px;
    top: 16px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap : 30px;
    width: 371px;
    
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    line-height: 27.2px;
    font-weight: 700;
    font-family: "Inter", sans-serif;

    
}

.main_background{
    width: 100vw;
    background-image: url("../Images/Rectangle\ 1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

}

.main_heading{
    width: 37.563rem;
    height: auto;
    /* border: 2px solid white; */
    top: 14.125rem;
    position: absolute;
    left: 8.688rem;
    text-transform: uppercase;
    
}
.main_heading h1{
    color: white;
    font-size: 8.125rem;
    line-height: 7.313rem;
    font-weight:700;
}

#red_head{
    color: red;
}

.section_info{
    width: 100%;
    display: flex;
    /* border: 2px solid black; */
    color: black;
    justify-content: space-around;    
    padding-bottom: 130px;
}

.section_info img{
    width: 450px;
    height: 415px;
    object-fit: cover;
    margin-top: 70px;
    margin-left: 160px;
}

.section_info h2{
    width: 475px;
    line-height: 55px;
}

.info_tab{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap : 40px;
    margin-top: 40px;
}
.info_tab h2{
    width: 475px;
    height: 113px;
    font-size: 50px;
    margin-top: -10px;
    text-transform: uppercase;
}


.line{
    margin-top: 40px;
    margin-left: 13rem;
    height: 80px;
    width: 6px;
    background-color: #E40000;
    color: #E40000;;
}


/* footer CSS */

footer{
    width: 100vw;
    height: 270px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.business_heading_tab{
    width: 310px;
    margin-left: 160px;
    padding-top: 2rem;
}

.business_heading_tab h2{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
}

.business_heading_tab h2 span{
    color: #E40000;
}

.dortex_link_side{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.icon_bar{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.icon_bar img{
    width: 30px;
    height: 30px;
    margin-right: 20px;

}

.logo_footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.logo_footer_dortex img{
    width: 116px;
    height: 117px;
}

.heading_By_dortex{
    width: 165px;
    height: 81px;
}

.heading_By_dortex h3{
    color: white;
    font-size: 25px;
    line-height: 42.5px;
    font-weight: 400;
}

.heading_By_dortex h3 span{
    color: #E40000;
}

